<a href="https://colab.research.google.com/github/Souriish9/Data-Pre-Processing-DS/blob/master/Data_Pre_Processing_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Library-Pandas

In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv('loan_small.csv')
dataset.shape

(16, 7)

dataset.iloc[row_start:row_end,col_start:col_end]

excludes end

In [ ]:
subset=dataset.iloc[0:3,1:3]
subset

  Gender  ApplicantIncome
0    NaN           5849.0
1   Male           4583.0
2   Male           3000.0

In [ ]:
subset1=dataset[['Gender','ApplicantIncome']]
subset1.shape

(16, 2)

Accessing a Text File

In [ ]:
datasetT=pd.read_csv('loan_small_tsv.txt', sep='\t')
datasetT.shape

(16, 7)

Check the NULL Values

In [ ]:
dataset.isnull().sum(axis=0)

Loan_ID              0
Gender               1
ApplicantIncome      2
CoapplicantIncome    1
LoanAmount           3
Area                 1
Loan_Status          1
dtype: int64

Processing the Missing values

In [ ]:
cleandata=dataset.dropna()
cleandata.shape

(9, 7)

In [ ]:
cleandata=dataset.dropna(subset=['Loan_Status'])
cleandata.shape

(15, 7)

In [ ]:
dt=dataset.copy()
cols=['Gender','Area','Loan_Status']
dt[cols]=dt[cols].fillna(dt.mode().iloc[0])

In [ ]:
dt.isnull().sum(axis=0)

Loan_ID              0
Gender               0
ApplicantIncome      2
CoapplicantIncome    1
LoanAmount           3
Area                 0
Loan_Status          0
dtype: int64

Replacing the missing Numericals Values

In [ ]:
cols2=['ApplicantIncome','CoapplicantIncome','LoanAmount']
dt[cols2]=dt[cols2].fillna(dt.mean())
dt.isnull().sum(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Loan_ID              0
Gender               0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Area                 0
Loan_Status          0
dtype: int64

Label Encoding

In [ ]:
dt[cols]=dt[cols].astype('category')
dt.dtypes

Loan_ID                object
Gender               category
ApplicantIncome       float64
CoapplicantIncome     float64
LoanAmount            float64
Area                 category
Loan_Status          category
dtype: object

In [ ]:
for columns in cols:
    dt[columns]=dt[columns].cat.codes

In [ ]:
dt

,Loan_ID,Gender,ApplicantIncome,CoapplicantIncome,LoanAmount,Area,Loan_Status
0,LP001002,1,5849.000000,0.000000,140.923077,2,1
1,LP001003,1,4583.000000,2509.333333,128.000000,1,0
2,LP001005,1,3000.000000,0.000000,66.000000,1,1
3,LP001006,0,2583.000000,2358.000000,120.000000,1,1
4,LP001008,1,4103.571429,0.000000,141.000000,2,1
5,LP001011,1,5417.000000,4196.000000,267.000000,1,1
6,LP001013,1,2333.000000,1516.000000,140.923077,0,1
7,LP001014,0,3036.000000,2504.000000,158.000000,1,0
8,LP001018,1,4006.000000,1526.000000,168.000000,0,1
9,LP001020,1,12841.000000,10968.000000,349.000000,1,0
10,LP001024,0,3200.000000,700.000000,70.000000,2,1
11,LP001027,1,2500.000000,1840.000000,109.000000,2,1
12,LP001028,0,4103.571429,8106.000000,140.923077,2,1
13,LP001029,1,1853.000000,2840.000000,114.000000,2,0
14,LP001030,1,1299.000000,1086.000000,17.000000,1,1
15,LP001032,1,4950.000000,0.000000,125.000000,1,1

Dropping A Column

In [ ]:
df2=dataset.drop(['Loan_ID'], axis=1)

Hot-Encoding for Categorical Data

In [ ]:
df2=pd.get_dummies(df2)
df2

,ApplicantIncome,CoapplicantIncome,LoanAmount,Gender_Female,Gender_Male,Area_rural,Area_semi,Area_urban,Loan_Status_N,Loan_Status_Y
0,5849.0,0.0,NaN,0,0,0,0,1,0,1
1,4583.0,NaN,128.0,0,1,0,1,0,1,0
2,3000.0,0.0,66.0,0,1,0,0,0,0,1
3,2583.0,2358.0,120.0,1,0,0,1,0,0,0
4,NaN,0.0,141.0,0,1,0,0,1,0,1
5,5417.0,4196.0,267.0,0,1,0,1,0,0,1
6,2333.0,1516.0,NaN,0,1,1,0,0,0,1
7,3036.0,2504.0,158.0,1,0,0,1,0,1,0
8,4006.0,1526.0,168.0,0,1,1,0,0,0,1
9,12841.0,10968.0,349.0,0,1,0,1,0,1,0
10,3200.0,700.0,70.0,1,0,0,0,1,0,1
11,2500.0,1840.0,109.0,0,1,0,0,1,0,1
12,NaN,8106.0,NaN,1,0,0,0,1,0,1
13,1853.0,2840.0,114.0,0,1,0,0,1,1,0
14,1299.0,1086.0,17.0,0,1,0,1,0,0,1
15,4950.0,0.0,125.0,0,1,0,1,0,0,1

Data Normalization

In [ ]:
cleandata=dataset.dropna()
datat2scale=cleandata.iloc[:,2:5]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler=scaler.fit_transform(datat2scale)

In [ ]:
scaler

array([[ 0.32879835,  0.43390231,  1.1995349 ],
       [-0.40126276, -0.11198867,  0.05261118],
       [-0.10384182, -0.4275214 ,  0.15783354],
       [ 2.60514177,  2.61875676,  2.06235824],
       [-0.35097716, -0.69401428, -0.87334558],
       [-0.56561083, -0.32621539, -0.46297838],
       [-0.76399367, -0.00358478, -0.4103672 ],
       [-0.9338609 , -0.56947886, -1.43102409],
       [ 0.18560703, -0.9198557 , -0.29462261]])

In [ ]:
from sklearn.preprocessing import minmax_scale
m=minmax_scale(datat2scale)
m

array([[0.35678392, 0.38256747, 0.75301205],
       [0.15049385, 0.22830051, 0.4246988 ],
       [0.23453474, 0.13913202, 0.45481928],
       [1.        , 1.        , 1.        ],
       [0.16470282, 0.06382203, 0.15963855],
       [0.10405476, 0.16776076, 0.27710843],
       [0.04799861, 0.25893508, 0.29216867],
       [0.        , 0.09901532, 0.        ],
       [0.31632299, 0.        , 0.3253012 ]])

Split Data

In [66]:
X=datasetT.iloc[:,:-1]
Y=datasetT.iloc[:,-1]

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [73]:
y_train

6     Y
10    Y
4     Y
1     N
14    Y
0     Y
15    Y
9     N
8     Y
12    Y
11    Y
5     Y
Name: Loan_Status, dtype: object